---
layout: 'base.njk'
---

<section class="article--container container">
  <nav class="sidebar">
    <h3>
      <a href="/">Student Guide</a>
    </h3>
    <ul role="list" class="sidebar__list flow">
      {%- for post in collections.post -%}
        {% include 'article-snippet.njk' %}
      {%- endfor -%}
    </ul>
  </nav>
  <article class="article flow">
    <div class="article__header flex">
      <h2>{{ title }}</h2>
      <a href="{{ gitURL }}" target="_blank" class="article__edit" title="Edit on GitHub">
        <i class="fas fa-pencil"></i>
      </a>
    </div>
    {{ content | safe }}
  </article>
</section>