<div class="articles">
  {%- for post in collections.post -%}
    <article class="article flow">
      <div class="article__header flex">
        <h2>{{ post.data.title }}</h2>
        <div class="custom-icons">
          <a href="#" class="custom-icon" title="Pin it">
            <i class="fas fa-thumb-tack"></i>
          </a>
          <a href="#" class="custom-icon" title="Edit on GitHub">
            <i class="fas fa-pencil"></i>
          </a>
        </div>
      </div>
      {{ post.templateContent | safe }}
    </article>
  {%- endfor -%}
</div>