<footer class="footer">
  <div class="container flow">
    <h3>Follow me on the social media:</h3>
    <nav class="footer__nav">
      <ul role="list" class="footer__list flex">
        <li>
          <a class="footer-link" href="https://t.me/dostonnabotov" target="_blank" rel="noopener noreferrer">
            Telegram
          </a>
        </li>
        <li>
          <a class="footer-link" href="https://github.com/dostonnabotov" target="_blank" rel="noopener noreferrer">
            GitHub
          </a>
        </li>
        <li>
          <a
            class="footer-link"
            href="https://www.frontendmentor.io/profile/dostonnabotov"
            target="_blank"
            rel="noopener noreferrer">Frontend Mentor
          </a>
        </li>
        <li>
          <a class="footer-link" href="https://www.linkedin.com/in/dostonnabotov/" target="_blank" rel="noopener noreferrer">
            LinkedIn
          </a>
        </li>
        <li>
          <a class="footer-link" href="mailto: dostonnabotov@gmail.com" target="_blank" rel="noopener noreferrer">
            Gmail
          </a>
        </li>
      </ul>
    </nav>
    <p>
      &copy;
      <span id="year"></span>
      Student Guide v1.1 - Made with love by
      <a href="">Doston Nabotov</a>
    </p>
  </div>
</footer>