<footer id="footer">
  <div class="footer container flow p-block">
    <h3>Follow me on the social media:</h3>
    <nav aria-labelledby="footer navigation">
      <ul role="list" class="footer__list flex">
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer" class="footer-link">Facebook</a>
        </li>
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer" class="footer-link">LinkedIn</a>
        </li>
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer" class="footer-link">Telegram</a>
        </li>
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer" class="footer-link">Whatsapp</a>
        </li>
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer" class="footer-link">Google</a>
        </li>
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer" class="footer-link">GitHub</a>
        </li>
      </ul>
    </nav>
    <p>
      &copy;
      <span id="year"></span>
      Student Guide v1.1 - Made with love by
      <a href="">Doston Nabotov</a>
    </p>
  </div>
</footer>