<footer id="footer">
  <div class="footer container flow p-block">
    <h3>Follow me on the social media:</h3>
    <nav aria-labelledby="footer navigation">
      <ul role="list" class="footer__list flex">
        <li>
          <a href="https://t.me/dostonnabotov" target="_blank" rel="noopener noreferrer" class="footer-link">Telegram</a>
        </li>
        <li>
          <a href="https://github.com/dostonnabotov" target="_blank" rel="noopener noreferrer" class="footer-link">GitHub</a>
        </li>
        <li>
          <a
            href="https://www.frontendmentor.io/profile/dostonnabotov"
            target="_blank"
            rel="noopener noreferrer"
            class="footer-link">Frontend Mentor</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/dostonnabotov/" target="_blank" rel="noopener noreferrer" class="footer-link">
            LinkedIn</a>
        </li>
        <li>
          <a href="mailto: dostonnabotov@gmail.com" target="_blank" rel="noopener noreferrer" class="footer-link">Gmail</a>
        </li>
      </ul>
    </nav>
    <p>
      &copy;
      <span id="year"></span>
      Student Guide v1.1 - Made with love by
      <a href="">Doston Nabotov</a>
    </p>
  </div>
</footer>