@use "../abstracts" as *;

body {
  font-family: var(--ff-400);
  font-size: var(--fs-400);
  line-height: 1.6;

  background-color: var(--neutral-100);
  color: var(--clr-accent);
}

h1,
h2,
h3 {
  font-family: var(--ff-700);
  line-height: 1.1;
}

a {
  color: inherit;

  &:is(:hover, :focus) {
    text-decoration: none;
  }
}

blockquote {
  border-left: 4px solid var(--clr-accent);
  padding: 1rem;
  margin: 0 0 1rem 0;
  background-color: #fafafa;
}

article:target {
  outline: 1px dashed var(--clr-accent);
  outline-offset: 5px;
}

p,
ul,
li,
blockquote:not([class]) {
  max-width: 65ch;
}

h1,
h2,
h3 {
  max-width: 35ch;
}

iframe {
  aspect-ratio: 16 / 9;
}
