@use "../abstracts" as *;

:root {
  --clr-primary: #0066ff;
  --clr-accent: #333333;

  --neutral-100: #fff;
  --neutral-900: #000;

  --ff-400: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --ff-700: Arial, Helvetica, sans-serif;

  --fs-400: 1rem;
  --fs-700: 1.25rem;
  --fs-900: 2rem;

  @include mq("md") {
    --fs-400: 1.125rem;
    --fs-700: 1.5rem;
    --fs-900: 3rem;
  }
}
