$colors: (
  primary: (
    100: hsl(212, 89%, 65%),
    200: hsl(216, 95%, 59%),
    300: hsl(216, 100%, 50%),
    400: hsl(223, 95%, 43%),
    500: hsl(217, 98%, 35%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 10%, 86%),
    300: hsl(0, 3%, 76%),
    400: hsl(0, 2%, 67%),
    500: hsl(0, 1%, 46%),
    600: hsl(0, 3%, 30%),
    700: hsl(0, 3%, 19%),
    800: hsl(0, 4%, 11%),
    900: hsl(0, 0%, 0%),
  ),
);
