@use "mixins" as *;

:root {
  /* COLORS */
  --clr-primary: var(--clr-primary-300);
  /* color variables */
  @include colorVariables;

  /* FONTS */
  --ff-body: "Rubik", sans-serif;
  /* font variables */
  @include fontVariables;

  --spacer-1: 1rem;
  --spacer-2: 2rem;
  --spacer-3: 3rem;
  --spacer: var(--spacer-1);

  --br: 5px;
}
