@use "../abstracts" as *;

.container {
  width: min(100% - 2rem, 62rem);
  margin-inline: auto;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1rem);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.text-center {
  text-align: center;

  &:is(h1, h2, h3, p, ul, li) {
    margin-inline: auto;
    text-align: center;
  }
}

:is(h1, h2, h3, p, ul, li).text-center {
  margin-inline: auto;
}
