@use "../abstracts" as *;

.btn {
  display: inline-block;
  padding: 0.5em 1.2em;

  text-decoration: none;
  letter-spacing: 1px;

  border: 0;
  border-radius: 30px;
}

.btn-primary {
  background-color: var(--clr-primary);
  color: var(--neutral-100);
  outline: 2px solid var(--clr-primary);
}

.btn-outline {
  background-color: var(--neutral-100);
  color: var(--clr-primary);
  outline: 2px solid var(--clr-primary);
}
