@use "../abstracts" as *;

#header {
  background-color: var(--clr-primary);
  color: var(--neutral-100);
}

.header__title {
  font-size: var(--fs-900);
  font-weight: var(--fw-900);
  text-align: center;
}
