@use "../abstracts" as *;

.header,
.footer {
  padding-block: 2rem;
  text-align: center;
  background-color: var(--clr-primary);
  color: var(--neutral-100);
}

.main {
  padding-block: 2rem;
  --gap: 2rem;

  @include md("medium") {
    --gap: 4rem;
    grid-template-columns: 2fr 5fr;
  }
}

.article {
  padding-block: 2rem;

  & h2 {
    position: relative;
  }

  & h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5rem;
    height: 1px;
    background-color: var(--clr-primary);
  }

  & h3 {
    margin-left: 1rem;
    opacity: 0.9;
  }
}

.sidebar {
  &__list {
    --flow-spacer: 0.5rem;
    list-style: inside;

    &-item {
      padding-block: 0.3rem;
      border-bottom: 1px solid #d4d4d4;
    }
  }

  .sidebar-link {
    @include custom-link;
  }

  @include md("medium") {
    &__list {
      position: sticky;
      top: 1rem;
      overflow-y: auto;
      font-size: 1rem;
      list-style: none;
    }
  }
}
