@use "../abstracts" as *;

.header,
.footer {
  padding-block: 2rem;
  text-align: center;
  background-color: var(--clr-primary);
  color: var(--neutral-100);
}

.footer__nav {
  width: fit-content;
  margin-inline: auto;
}

.footer__list {
  flex-wrap: wrap;
  width: 100%;
  
  &-item {
    width: max-content;
  }
}

.main {
  padding-block: 2rem;
  --gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-areas: "sidebar" "articles";

  @include md("medium") {
    --gap: 4rem;
    grid-template-columns: 2fr 5fr;
    grid-template-areas: "sidebar articles";
  }
}

/* Articles */
.articles {
  grid-area: articles;
}

.article {
  padding-block: 2rem;

  &__header {
    align-items: center;
    flex-direction: column;
  }

  @include md("medium") {
    &__header {
      justify-content: space-between;
      flex-direction: row;
    }
  }
}

.custom-icons {
  display: flex;
  gap: 1rem;
}

.custom-icon {
  display: inline-block;
  border-radius: 50%;
  outline: 4px solid var(--clr-accent);
  padding: 0.3em .7em;
  text-align: center;
  opacity: .6;
  @include custom-link;

  &:hover,
  &:focus {
    opacity: .9
    outline: 4px solid var(--clr-primary);
  }
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;

  &__list {
    --flow-spacer: 0.5rem;

    &-item {
      padding-block: 0.3rem;
      border-bottom: 1px solid #d4d4d4;
    }
  }

  .sidebar-link {
    @include custom-link;
  }

  @include md("medium") {
    &__list {
      position: sticky;
      top: 1rem;
      overflow-y: auto;
      font-size: 1rem;
      list-style: none;
    }
  }
}
