---
title : Homepage
layout : 'base.njk'
---

{%- for post in collections.posts | sortByOrder -%}
  <article id={{ post.data.id }}>
    <h2>{{ post.data.title }}</h2>
    {{ post.templateContent | safe }}
  </article>
{%- endfor -%}