---
title : Student Guide
layout : 'base.njk'
---

<div class="container flow">
  <ul class="flow">
    {%- for post in collections.post -%}
      {% include 'article-snippet.njk' %}
    {%- endfor -%}
  </ul>
</div>