---
title : Student Guide
layout : 'base.njk'
---

<div class="main container grid">
  {% include 'sidebar.njk' %}

  <!-- Main content -->
  <div class="articles">
  {%- for post in collections.post | sortByOrder -%}
    <article class="article flow" id={{ post.data.id }}>
      <h2>{{ post.data.title }}</h2>
      {{ post.templateContent | safe }}
    </article>
  {%- endfor -%}
  <!-- /Main content -->
</div>
</div>