/* Root */
:root {
  --clr-primary: #0066ff;

  --neutral-100: #fff;
  --neutral-400: #444;
  --neutral-500: #3d3d3d;
  --neutral-700: #363535;
  --neutral-900: #252525;

  --fw-400: 400;
  --fw-700: 600;
  --fw-900: 700;

  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-700: 1.5rem;
  --fs-900: 3rem;

  --spacer: 5rem;
}

@media (min-width: 50em) {
  :root {
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-700: 2rem;
    --fs-900: 4rem;
  }
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a {
  color: inherit;
}

/* General setup */
body {
  min-height: 100vh;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: 1.6;

  background-color: var(--neutral-100);
  color: var(--neutral-400);
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
}

/* Utilities */
.container {
  width: min(100% - 2rem, 65rem);
  margin-inline: auto;
}

.container--narrow {
  width: min(100% - 2rem, 55rem);
  margin-inline: auto;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1rem);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.p-block {
  padding-block: var(--spacer);
}

.text-center {
  text-align: center;
}

/* Components */
.btn {
  display: inline-block;
  border: 0;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 0.5em 1.2em;
  border-radius: 30px;
}

.btn-primary {
  background-color: var(--clr-primary);
  color: var(--neutral-100);
  outline: 2px solid var(--clr-primary);
}

.btn-outline {
  background-color: var(--neutral-100);
  color: var(--clr-primary);
  outline: 2px solid var(--clr-primary);
}

.title {
  font-size: var(--fs-900);
  text-align: center;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.heading {
  font-size: var(--fs-700);
  font-weight: var(--fw-700);
  text-transform: capitalize;
  color: var(--neutral-700);
}

.sub-heading {
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
  color: var(--neutral-500);
  margin-left: 1rem;
}

.note,
blockquote {
  outline: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.note {
  background-color: var(--neutral-400);
  color: #e7e7e7;
}

blockquote {
  background-color: #dae9ff;
  font-style: italic;
  margin: 0;
}

/* Main */
/* header */
#header,
#footer {
  background-color: var(--clr-primary);
  color: var(--neutral-100);
}

.header__title {
  font-size: var(--fs-900);
  font-weight: var(--fw-900);
  text-align: center;
}

/* main */
main {
  padding-block: 2rem;
}

/* article */
.article__header {
  align-items: center;
  flex-direction: column;
}

@media (min-width: 50em) {
  .article__header {
    flex-direction: row;
    justify-content: space-between;
  }
}

.article__edit {
  outline: 1px solid var(--neutral-400);
  color: inherit;
  padding: 0.3em 0.7em;
  border-radius: 50%;
}

.article__edit:hover,
.article__edit:focus {
  outline: 1px solid var(--clr-primary);
  color: var(--clr-primary);
}

/* footer */
.footer {
  --flow-spacer: 2rem;
  text-align: center;
}

.footer__list {
  --gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  font-weight: var(--fw-700);
}

@media (min-width: 50em) {
  .footer__list {
    flex-direction: row;
    justify-content: center;
  }
}
